/* style001.css */

body
{
    margin: 0;
    /*overflow: hidden;*/
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    color: rgb(255, 255, 255);
    user-select: none; /* prevent highlighting text while playing */
    text-shadow: 1px 1px rgb(0, 0, 0);
}

details
{
    color: rgb(255, 255, 255);
}

summary
{
    color: rgb(255, 255, 255);
}

summary:hover
{
    color: rgb(0, 255, 255);
}

details > summary
{
    list-style: none; /* remove default triangle */
    cursor: pointer;
}

details > summary::before
{
    content: '▶️ '; /* closed icon */
}

details[open] > summary::before
{
    content: '🔽 '; /* open icon */
    /*background-color: rgb(140,140,140);*/
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* // https://sites.google.com/view/CollegeOfScripting */

